<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SingUp</title>
    <style>
        body {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
</head>

<body>
    <!-- <h1>Hello World!</h1> -->

    <h1>Sing Up form</h1>
    <form action="/user" method="POST">
        <label>name</label>
        <input type="text" required name="name" placeholder="Enter Your name ">
        <label>Email</label>
        <input type="text" required name="email" placeholder="Enter Your Email ">
        <label>Password</label>
        <input type="text" required name="password" placeholder="Enter Your Password ">
        <button type="submit">Singup</button>
    </form>
</body>

</html>